.grocery-div {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grocery-div h2 {
  font-size: 35px;
}

.grocery-form label {
  margin-right: 20px;
  font-size: 20px;
}

.grocery-form input {
  margin-right: 20px;
  padding: 5px
}

.grocery-form button {
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.grocery-div ul {
  list-style-type: none;
}